@import "../../complements/imports/_colors.scss";

#register_email:invalid {
    box-shadow: none;
}

.bg-modal {
    background-color: rgba(0, 0, 0, 0.733);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;

    .window_modal {
        background-image: radial-gradient(
            circle,
            rgb(255, 255, 255),
            rgb(223, 223, 223)
        );
        box-shadow: 0px 0px 10px 5px black;
        width: 40%;
        height: 70%;
        padding: 2rem;
        border-radius: 2%;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        animation: modal 1s ease forwards;

        .close {
            position: absolute;
            font-size: 3vw;
            top: 0.25em;
            right: 0.5em;
            transform: rotate(50grad);
            cursor: pointer;
            transition: 0.5s ease all;
            color: $color-texto;

            &:hover {
                transform: rotate(50grad) scale(1.2);
                color: black;
            }
        }
        .encabezado {
            display: flex;
            width: 100%;
            height: 20%;
            justify-content: center;
            margin-right: 10%;
            align-items: center;

            img {
                height: 100%;
                width: auto;
            }
            .titulo {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: italic;
                padding: 0.5rem;
                margin: 0 0.3em;
                font-size: 2.4vw;
                color: $color-bordes;
                text-decoration: 3px underline $color-bordes;
                text-transform: uppercase;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            height: 80%;
            overflow-y: auto;
            padding-top: 5%;

            .containers {
                display: grid;
                grid-template-columns: 10% 90%;
                border-bottom: 2px solid $gris;
                margin: 0.6rem 1rem;
                padding: 0.6rem 0;
                position: relative;

                .contenedor-msj-error {
                    font-family: "Poppins", sans-serif;
                    position: absolute;
                    color: rgb(207, 0, 0);
                    width: 100%;
                    top: -25px;
                    right: 0px;
                    display: flex;
                    justify-content: flex-start;

                    .msj-error {
                        align-self: center;
                        font-size: 12px;
                        margin: 0;
                        padding: 0;
                    }
                }

                .i {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: $gris;
                        transition: 0.3s;
                    }
                }

                & > div {
                    position: relative;
                    height: 2.5vw;

                    label {
                        position: absolute;
                        left: 2%;
                        top: 25%;
                        font-size: 1.2vw;
                        color: $gris;
                        transition: 0.3s;
                        font-family: "Poppins", sans-serif;
                        font-weight: 100 bold;
                    }
                }

                .input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 2%;
                    border: none;
                    outline: none;
                    background: none;
                    padding: 0.1rem 0;
                    font-size: 1.2vw;
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                }

                &.focus .i i {
                    color: $color-item-formulario;
                }
                &.focus div label {
                    color: $color-item-formulario;
                    font-size: 0.8vw;
                    top: -25%;
                }

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                    background-color: $color-item-formulario;
                    transition: 0.4s;
                }

                &::after {
                    right: 50%;
                }
                &::before {
                    left: 50%;
                }

                &.focus::after,
                &.focus::before {
                    width: 50%;
                }

                /* ---estilos para cuando es invalido el contenido del campo */
                &.error {
                    box-shadow: 0 0 10px 1px red;

                    .i i {
                        color: rgba(216, 0, 0, 0.842);
                    }
                }
                &.focus.error div label {
                    color: rgba(216, 0, 0, 0.842);
                }
                &.focus.error::after,
                &.focus.error::before {
                    width: 50%;
                    background-color: rgba(216, 0, 0, 0.842);
                }

                /* ---/ */

                /* ---estilos para cuando es valido el contenido del campo */

                &.valid {
                    box-shadow: 0 0 10px 1px rgb(0, 179, 15);

                    .i i {
                        color: rgb(0, 199, 17);
                    }
                }
                &.focus.valid div label {
                    color: rgb(0, 199, 17);
                }
                &.focus.valid::after,
                &.focus.valid::before {
                    width: 50%;
                    background-color: rgb(0, 199, 17);
                }
                /* ---/ */
            }

            .msjContainer {
                // margin: 0.6rem 1rem;
                // padding: 0.6rem 0;
                width: 100%;
                display: flex;
                justify-content: center;

                .validParams {
                    margin: 5px 0 13px 0;
                    width: 94%;
                    font-size: 1.2vw;
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    color: rgb(65, 65, 65);
                }
            }

            .container-dual {
                display: grid;
                grid-template-columns: 50% 50%;
                justify-content: center;

                .btn {
                    display: flex;
                    justify-content: center;
                    font-size: 1.6vw;
                    text-transform: uppercase;
                    font-family: "Poppins", sans-serif;
                    font-weight: 700;
                    line-height: 0;
                    width: 90%;
                    height: 50px;
                    margin: 0.5rem;
                    padding: 0.8rem;
                    border: 1px solid $color-bordes;
                    border-radius: 25px;
                    background-image: linear-gradient(
                        to right,
                        $color-bordes,
                        rgb(0, 121, 177),
                        $color-bordes
                    );
                    color: white;
                    cursor: pointer;
                    transition: 0.5s;
                    background-size: 200%;
                    box-shadow: 0 0 10px 0 $color-bordes;

                    &:hover {
                        background-position: right;
                    }
                }
            }

            .contenedor-img {
                position: relative;
                min-height: auto;
                margin: 30px 0;
                padding: 0.6rem 0;
                display: flex;
                align-items: center;

                .contenedor-msj-error {
                    font-family: "Poppins", sans-serif;
                    position: absolute;
                    color: rgb(207, 0, 0);
                    width: 100%;
                    top: -30px;
                    right: 0px;
                    display: flex;
                    justify-content: center;

                    .msj-error {
                        align-self: center;
                        font-size: 10px;
                        margin: 0;
                        padding: 0;
                    }
                }
                .container-imagen-prev {
                    display: flex;
                    width: 100%;
                    position: absolute;
                    justify-content: center;
                    align-items: center;

                    i {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 40px;
                        width: 70%;
                        font-size: 170%;
                        background-image: radial-gradient(
                            circle,
                            rgb(255, 255, 255),
                            rgb(223, 223, 223)
                        );
                        border-radius: 10px;
                        border: 5px dashed $color-bordes;
                        color: $color-bordes;
                        z-index: 100;
                        cursor: pointer;

                        &:hover {
                            background-image: radial-gradient(
                                circle,
                                rgb(238, 238, 238),
                                rgb(194, 194, 194)
                            );
                        }
                    }

                    &.error {
                        i {
                            box-shadow: 0 0 10px 1px red;
                            color: rgba(216, 0, 0, 0.842);
                            border: 5px dashed rgba(216, 0, 0, 0.842);
                        }
                    }

                    &.valid {
                        i {
                            box-shadow: 0 0 10px 1px rgb(0, 199, 17);
                            color: rgb(0, 199, 17);
                            border: 5px dashed rgb(0, 199, 17);
                        }
                    }

                    .inputImg {
                        opacity: 0;
                        width: 5px;
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 7px; /* Tamaño del scroll en vertical */
                height: 0px; /* Tamaño del scroll en horizontal */
                // display: none; /* Ocultar scroll */
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgb(47, 48, 59);
                border-radius: 20px;
            }
        }

        .cambiar_opcion {
            color: rgb(7, 81, 177);
            position: absolute;
            bottom: 1em;
            right: 1.5em;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                color: rgba(0, 124, 206, 0.904);
            }
        }

        &.LogIn {
            height: 60%;

            .container-dual {
                margin-top: 10%;
            }
        }
    }
}

@keyframes modal {
    from {
        top: -100vh;
    }
    to {
        top: 0;
    }
}

@include tablet {
    .bg-modal .window_modal {
        width: 70%;
        height: 60%;

        .form {
            .containers {
                .contenedor-msj-error {
                    top: -17px;
                    .msj-error {
                        font-size: 8.5px;
                    }
                }
                .input {
                    font-size: 9px;
                }
                & > div {
                    label {
                        font-size: 1.9vw;
                    }
                }
                &.focus div label {
                    font-size: 1.1vw;
                }
            }
            .container-dual .btn {
                height: 40px;
            }

            .contenedor-img {
                margin: 25px 0;

                .contenedor-msj-error {
                    top: -27px;
                }
                .container-imagen-prev {
                    i {
                        width: 60%;
                        font-size: 120%;
                        height: 30px;
                    }
                }
            }
        }
        &.LogIn {
            height: 50%;
        }
        .cambiar_opcion {
            font-size: 12px;
        }
    }
}

@include mobile {
    .bg-modal .window_modal {
        .form {
            .containers .contenedor-msj-error {
                top: -15px;
                .msj-error {
                    font-size: 7px;
                }
            }

            .contenedor-img {
                margin: 20px 0;

                .contenedor-msj-error {
                    top: -24px;
                    .msj-error {
                        font-size: 8.5px;
                    }
                }
            }
        }

        &.LogIn {
            height: 40%;
        }
    }
}
