$color-texto: rgb(131, 131, 131);
$color-grisacio: rgba(255, 255, 255, 0.822);
$gris: rgb(150, 150, 150);
$color-bordes: rgb(0, 0, 48);
$color-item-formulario: rgb(3, 3, 131);
$fondo-search: rgba(0, 0, 0, 0.301);
$transparente: rgba(0, 0, 0, 0);
$fondo-publicacion: rgba(13, 7, 63, 0.295);
$fondo-submenu-perfil: rgba(13, 7, 63, 0.527);
$fondo-opciones: rgba(6, 6, 46, 0.411);
