body {
  background: radial-gradient(circle, #404040 0%, #020024 100%);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "buscador central menu" "footer footer footer";
}

@media screen and (max-width: 769px) {
  body {
        grid-template-areas: "menu" "central" "footer";
  }
}

.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: buscador;
  width: 30vw;
  height: 100%;
  left: 0;
  position: fixed;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.buscador .contenedor-busqueda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  margin-right: 6%;
  padding: 1.3rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.301);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 50%;
  min-width: 230px;
  max-width: 400px;
}

.buscador .contenedor-busqueda .boton-busqueda {
  background-color: rgba(0, 0, 0, 0.301);
  padding: 0.5rem;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid white;
}

.buscador .contenedor-busqueda .boton-busqueda i {
  font-size: 25px;
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.897);
}

.buscador .contenedor-busqueda .boton-busqueda input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 2rem;
  width: 80%;
  margin-left: 8px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.897);
  outline: none;
}

.buscador .contenedor-busqueda .resultado-busqueda {
  overflow: scroll;
  width: 99%;
  border: 2px solid rgba(255, 255, 255, 0.897);
  margin-top: 1.5rem;
  border-radius: 4px;
  border-end-end-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(0, 0, 0, 0.301);
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario {
  padding: 0.5rem;
  height: 100px;
  margin: 0.4rem;
  border: 1px solid white;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.897);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nombre button" "username username";
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-nombre {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nombre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-nombre .nombre,
.buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-nombre .apellido {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
  padding-left: 5%;
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-nombre .nombre {
  font-size: 16px;
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-nombre .apellido {
  font-size: 19px;
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-boton {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: button;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-boton .follow {
  min-width: 80px;
  width: 90%;
  max-width: 120px;
  height: 60%;
  padding: 0 0.7rem;
  margin: 0;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  font-size: 90%;
  color: rgba(255, 255, 255, 0.897);
  background-color: rgba(0, 0, 0, 0.301);
  border: 4px solid white;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-boton .follow:hover {
  background-color: rgba(255, 255, 255, 0.897);
  color: rgba(0, 0, 73, 0.993);
  border-color: #000030;
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-boton .follow:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.buscador .contenedor-busqueda .resultado-busqueda .usuario .username {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: username;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: start;
  font-size: 13px;
  padding: 0% 0% 5% 3%;
}

@media screen and (max-width: 769px) {
  .buscador {
    display: none;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .buscador .contenedor-busqueda {
    margin-right: 0;
    margin-top: 4rem;
    background-color: rgba(0, 0, 20, 0.897);
    -webkit-animation: modal 1.5s ease forwards;
            animation: modal 1.5s ease forwards;
    width: 70%;
    max-width: none;
    border-radius: 30px;
    overflow: scroll;
    position: relative;
  }
  .buscador .contenedor-busqueda .boton-busqueda {
    padding: 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: start;
    margin-top: 1rem;
  }
  .buscador .contenedor-busqueda .boton-busqueda input {
    font-size: 13px;
  }
  .buscador .contenedor-busqueda .close {
    position: absolute;
    font-size: 40px;
    top: 0.25em;
    right: 0.5em;
    -webkit-transform: rotate(50grad);
            transform: rotate(50grad);
    cursor: pointer;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    color: rgba(255, 255, 255, 0.897);
  }
  .buscador .contenedor-busqueda .close:hover {
    -webkit-transform: rotate(50grad) scale(1.2);
            transform: rotate(50grad) scale(1.2);
    color: rgba(255, 255, 255, 0.897);
  }
  .buscador .contenedor-busqueda .resultado-busqueda .usuario {
    border-radius: 5px;
  }
  .buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-nombre .nombre {
    padding: 5px 0 0 10px;
    font-size: 21px;
  }
  .buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-nombre .apellido {
    padding-left: 10px;
    font-size: 23px;
  }
  .buscador .contenedor-busqueda .resultado-busqueda .usuario .contenedor-boton .follow {
    margin-top: 10px;
    margin-right: 10px;
    max-width: none;
    min-width: none;
    width: 90px;
    height: 60%;
  }
  .buscador .contenedor-busqueda .resultado-busqueda .usuario .username {
    padding: 0 0 10px 10px;
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .buscador {
    display: none;
    z-index: 3004;
    height: 100vh;
    top: 0;
    left: 0;
  }
  .buscador .contenedor-busqueda {
    width: 100%;
    height: 95%;
    max-height: none;
    margin-top: 0;
    border-radius: 0;
  }
}

@-webkit-keyframes modal {
  from {
    left: -100vh;
  }
  to {
    left: 0;
  }
}

@keyframes modal {
  from {
    left: -100vh;
  }
  to {
    left: 0;
  }
}

.central {
  font-family: "Roboto", sans-serif;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: central;
  width: 39vw;
  min-height: 100vh;
  margin: 0 auto;
  border-right: 4px solid #000030;
  border-left: 4px solid #000030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
}

.central .contenido {
  margin: 0 0.5rem 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.central .contenido .titulo {
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  padding-left: 3%;
  border-bottom: 4px solid #000030;
  font-weight: 500;
  text-shadow: 1px 1px 2px #000418, 0 0 1em #001381, 0 0 0.2em #001679;
}

.central .contenido .crear-msj {
  height: 170px;
  border-bottom: 4px solid #000030;
}

.central .contenido .publicacion {
  background-color: rgba(13, 7, 63, 0.295);
  border: 3px solid #000030;
  margin: 0 auto;
  margin-top: 15px;
  width: 98%;
}

.central .contenido .publicacion .contenedor {
  margin: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.central .contenido .publicacion .contenedor .contenedor-datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.central .contenido .publicacion .contenedor .contenedor-datos .contenedor-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.central .contenido .publicacion .contenedor .contenedor-datos .contenedor-img img {
  width: auto;
  height: 100%;
  cursor: pointer;
}

.central .contenido .publicacion .contenedor .contenedor-datos .contenedor-nombreUsuario {
  margin-left: 10px;
}

.central .contenido .publicacion .contenedor .contenedor-datos .contenedor-nombreUsuario .nombre-usuario {
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}

.central .contenido .publicacion .contenedor .contenedor-texto {
  width: 95%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.central .contenido .publicacion .contenedor .contenedor-texto .texto {
  font-size: 13px;
  margin: 13px 0;
  padding: 0;
}

.central .contenido .publicacion .contenedor .contenedor-file {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 70%;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  margin: 5px 0 10px;
  -webkit-box-shadow: 0px 0px 5px #00004d;
          box-shadow: 0px 0px 5px #00004d;
  display: block;
}

.central .contenido .publicacion .contenedor .contenedor-file img {
  display: block;
  max-width: 100%;
  height: auto;
}

.central .contenido .publicacion .contenedor .contenedor-inferior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25px;
  margin-bottom: 5px;
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-MG,
.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-FH {
  padding: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-MG {
  margin: 0 10px;
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-MG i {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
  font-size: 20px;
  text-shadow: 1px 1px 2px #910000, 0 0 1em #810000, 0 0 0.2em #790000;
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-MG i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-MG i:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-MG .cantMG {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  height: 100%;
  width: 50px;
  font-size: 13px;
  margin: 0;
  margin-left: 5%;
  text-align: center;
  line-height: 25px;
  text-shadow: 1px 1px 2px #2e0000, 0 0 1em #810000, 0 0 0.2em #790000;
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-MG.active {
  color: #ff1b1b;
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-FH {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-FH .fecha,
.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-FH .hora {
  font-size: 12px;
  margin: 0;
  text-shadow: 1px 1px 2px black, 0 0 1em #000052, 0 0 0.2em #00003d;
  color: #838383;
}

.central .contenido .publicacion .contenedor .contenedor-inferior .contenedor-FH .fecha {
  margin-right: 7px;
}

@media screen and (max-width: 769px) {
  .central {
    width: 70vw;
  }
  .central .contenido {
    padding-top: 50px;
  }
}

@media screen and (max-width: 450px) {
  .central {
    width: 97vw;
  }
}

.menu {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: menu;
  width: 30vw;
  height: 100%;
  position: fixed;
  right: 0;
}

.menu .lineas,
.menu .search {
  display: none;
}

.menu .logo {
  width: 100%;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.menu .logo img {
  margin-left: 3%;
  display: block;
  width: 40%;
}

.menu .menu-lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  padding: 0;
  width: 60%;
  min-width: 250px;
}

.menu .menu-lista ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .menu-lista ul .opciones {
  padding: 0.5rem;
  margin-left: 1rem;
  margin-top: 0.7rem;
}

.menu .menu-lista ul .opciones a {
  color: #b1b0b0;
  font-family: "Merriweather", serif;
  font-weight: 900;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

.menu .menu-lista ul .opciones a .icono {
  margin: 0 1rem;
  font-size: 20px;
  line-height: 20px;
  width: 20px;
}

.menu .menu-lista ul .opciones a .invertir {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.menu .menu-lista ul .opciones a .icono-derecha {
  margin-left: 1rem;
  font-size: 12px;
}

.menu .menu-lista ul .opciones a:hover {
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu .menu-lista ul .opciones .submenu {
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  background: linear-gradient(187deg, #111321 0%, #00000e 87%);
  border-end-end-radius: 20px;
  border-bottom-left-radius: 20px;
  left: 30px;
}

.menu .menu-lista ul .opciones .submenu .opciones {
  margin: 0;
  padding: 1rem 1.5rem;
}

.menu .menu-lista ul .opciones .submenu .opciones a {
  font-size: 14px;
}

.menu .menu-lista ul .opciones .submenu.slideUp {
  display: none;
  z-index: -1;
}

.menu .menu-lista ul .opciones .submenu.slideDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu-lista ul .opciones .submenu:hover {
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 769px) {
  .menu {
    top: 0;
    width: 100vw;
    height: 50px;
    left: 0;
    background: linear-gradient(187deg, #111321 0%, #00000e 87%);
    position: fixed;
    z-index: 3000;
  }
  .menu .lineas,
  .menu .search {
    display: block;
    color: white;
    position: absolute;
    cursor: pointer;
    padding: 8px;
    margin-top: 4px;
    top: 0;
    background-image: radial-gradient(circle, #00087c, #05070e);
  }
  .menu .lineas i,
  .menu .search i {
    font-size: 25px;
  }
  .menu .lineas:active i,
  .menu .search:active i {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .menu .lineas {
    right: 2px;
  }
  .menu .search {
    right: 50px;
  }
  .menu .logo {
    position: absolute;
    height: 50px;
    width: 50px;
    margin: 0;
  }
  .menu .logo img {
    margin: 0;
    width: 100%;
  }
  .menu .menu-lista {
    display: none;
    background: linear-gradient(187deg, #111321 0%, #00000e 87%);
    border-end-end-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    width: 100%;
    -webkit-animation: openMenu 1s ease forwards;
            animation: openMenu 1s ease forwards;
  }
  .menu .menu-lista ul {
    width: 100%;
  }
  .menu .menu-lista ul .opciones {
    margin: 0.5rem 0;
  }
  .menu .menu-lista ul .opciones .icono-derecha {
    float: right;
  }
  .menu .menu-lista ul .opciones .submenu {
    position: relative;
    background: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
  }
  .menu .menu-lista ul .opciones .submenu .opciones {
    margin-left: 30px;
  }
  @-webkit-keyframes openMenu {
    from {
      right: -100vh;
    }
    to {
      right: 0;
    }
  }
  @keyframes openMenu {
    from {
      right: -100vh;
    }
    to {
      right: 0;
    }
  }
}

.footer {
  background: linear-gradient(187deg, #111321 0%, #00000e 87%);
  border-top: 2px solid #000030;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  max-width: 100vw;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .titulo {
  width: 200px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #838383;
}

.footer .titulo p {
  line-height: 100%;
  font-family: "Girassol", cursive;
  text-align: center;
  padding-bottom: 2px;
  -webkit-text-decoration: underline 1px solid #838383;
          text-decoration: underline 1px solid #838383;
  font-size: 20px;
}

.footer .creador {
  border-left: 3px solid #000030;
  padding: 0;
  margin: 0;
  width: 400px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .creador .nombre {
  margin: 0.3rem 0 0.4rem;
  color: #838383;
  padding: 0.2rem;
  font-family: "Roboto-Light 300", sans-serif;
}

.footer .creador .iconos {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer .creador .iconos .facebook,
.footer .creador .iconos .instagram {
  margin: 0 1rem;
}

.footer .creador .iconos .facebook i,
.footer .creador .iconos .instagram i {
  font-size: 120%;
  color: #838383;
  cursor: pointer;
}

@media screen and (max-width: 1004px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    bottom: 0;
  }
  .footer .titulo {
    width: 100%;
    height: 40px;
  }
  .footer .creador {
    border: none;
    width: 100%;
    height: 4rem;
  }
}

.footer {
  z-index: 1000;
}
/*# sourceMappingURL=estilosPrincipalPage.css.map */