.aside1 {
    grid-area: aside1;
    background-color: rgb(255, 0, 0);
    width: 25vw;
    height: 75vh;
}

.aside2 {
    grid-area: aside2;
    background-color: rgb(187, 25, 138);
    width: 25vw;
    height: 75vh;
}
